# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Data files
*.csv
*.xlsx
*.pkl

# Logs
*.log